<!DOCTYPE html>
<html ng-app="myApp" ng-strict-di ng-cloak="">
  <head>
    <meta charset="utf-8" />
    <title>Angular-Validation Example with Interpolation</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
    <link rel="stylesheet" href="http://isteven.github.io/angular-multi-select/css/isteven-multi-select.css">
  </head>

  <body ng-controller="Ctrl as vm">
    <div class="container">
      <h2>Validation examples with external 3rd party addons </h2>

      <div class="alert alert-info alert-dismissable">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          <a href="https://github.com/ghiscoding/angular-validation/wiki/3rd-Party-Addons">Wiki - 3rd Party Addons</a>
      </div>

      <div class="alert alert-danger alert-dismissable" ng-show="vm.test.$validationSummary.length &gt; 0">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><strong>ERRORS!</strong></h4>
        <ul>
            <li ng-repeat="item in vm.test.$validationSummary">{{ item.friendlyName != '' ? item.friendlyName : item.field }}: {{item.message}}</li>
        </ul>
      </div>

      <hr/>

      <form name="vm.test">
        <div class="form-group">
          <label>
            <a href="http://dotansimha.github.io/angularjs-dropdown-multiselect/">(project site)</a>
            Dropdown MultiSelect
          </label>
          <div name="select1"
            ng-dropdown-multiselect=""
            options="vm.select1data"
            selected-model="vm.select1model"
            ng-model="vm.select1model"
            extra-settings="{externalIdProp: '', selectionLimit: 1}"
            validation="in_list:John,Jane|required" validation-array-objprop="label">
          </div>
        </div>

        <div class="form-group">
          <label>
            <a href="http://isteven.github.io/angular-multi-select/#/main">(project site)</a>
            Dropdown AngularJs Multi-Select
          </label>
          <div name="select2"
            isteven-multi-select=""
            ng-model="vm.outputBrowsers"
            input-model="vm.modernBrowsers"
            output-model="vm.outputBrowsers"
            button-label="icon name"
            item-label="icon name maker"
            tick-property="ticked"
            validation="in_list:Firefox,Chrome|required"
            validation-array-objprop="name">
          </div>
        </div>

        <div class="form-group">
          <label>
            <a href="http://mbenford.github.io/ngTagsInput/">(project site)</a>
            ngTagsInput
          </label>
          <i>&lt;valid-array-require-how-many="one"&gt;</i>
          <tags-input name="input1"
            ng-model="vm.tags1"
            validation="in_list:Tag4,Tag5|required"
            validation-array-objprop="text">
          </tags-input>
        </div>

        <div id="tag2" class="form-group">
          <label>
            <a href="http://mbenford.github.io/ngTagsInput/">(project site)</a>
            ngTagsInput
          </label>
          <i>&lt;valid-array-require-how-many="all"&gt;</i>
          <tags-input name="input2"
            ng-model="vm.tags2"
            validation="pattern=/Tag[0-9]/i:alt=Must be a Tag with a number.|required"
            validation-array-objprop="text"
            valid-array-require-how-many="all">
          </tags-input>
        </div>
      </form>
      <hr/>
      <div class="form-actions">
        <button type="submit" name="save_btn" class="btn btn-primary" ng-click="vm.submit()">{{ 'SAVE' | translate }}</button>
      </div>
      <hr/>

      <div class="alert alert-warning alert-dismissable">
        <strong>We can validate an input array by 2 ways:</strong>
        <ol>
          <li>&lt;valid-array-require-how-many="<b>one</b>"&gt; (default), if 1 value is found as valid, the complete input set is Valid.</li>
          <li>&lt;valid-array-require-how-many="<b>all</b>"&gt;. For the input to be Valid, we need "all" array values to be valid.</li>
        </ol>
      </div>
    </div>

    <!-- external librairies CDN -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>

    <!-- angular-translate -->
    <!-- Visit Angular-Translate https://github.com/PascalPrecht/angular-translate -->
    <script src="../../vendors/angular-translate/angular-translate.min.js"></script>
    <script src="../../vendors/angular-translate/angular-translate-loader-static-files.min.js"></script>

    <!-- ngTagsInput -->
    <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>

    <!-- AngularJS Dropdown MultiSelect -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/pc035860/angular-highlightjs/master/angular-highlightjs.js"></script>
    <script src="https://rawgit.com/dotansimha/angularjs-dropdown-multiselect/master/dist/angularjs-dropdown-multiselect.min.js"></script>

    <!-- AngularJS Multi-Select -->
    <script src="https://rawgit.com/isteven/angular-multi-select/master/isteven-multi-select.js"></script>

    <!-- Angular-Validation -->
    <script type="text/javascript" src="../../dist/angular-validation.min.js"></script>
    <!--
    <script type="text/javascript" src="../../src/validation-directive.js"></script>
    <script type="text/javascript" src="../../src/validation-service.js"></script>
    <script type="text/javascript" src="../../src/validation-common.js"></script>
    <script type="text/javascript" src="../../src/validation-rules.js"></script>
    -->

    <!-- my application -->
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
