<!DOCTYPE html>
<html ng-app="myApp" ng-strict-di ng-cloak="">
  <head>
    <meta charset="utf-8" />
    <title>Angular-Validation with Custom Javascript function</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../style.css">
  </head>

  <body>
    <div class="container">
      <h2>Example of Angular-Validation with Custom Javascript function</h2>

      <div  ng-controller="CtrlDirective as Location">
        <div class="row">
        <div>
            <form class="form-horizontal" name="locationForm" novalidate ng-model-options="{ updateOn: 'blur' }">

                <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="labels" for="name">Name *</label>
                    <input type="text"
                           name="name"
                           id="name"
                           validation="required|max_len:50"
                           debounce="0"
                           ng-model="Location.mylocation.Name"
                           class="form-control input-lg input-full"
                           placeholder="Enter Location Name">
                </section>
                <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="labels" for="name">Simple Input *</label>
                    <input type="text"
                           name="simple"
                           id="simple"
                           validation="required|max_len:50"
                           debounce="0"
                           ng-model="Location.mylocation.Simple" />
                </section>
            </form>
            <h3>Control below NOT in a form, doesn't have problem</h3>
            <!--// NOT in form-->
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="labels" for="name2">Name2 *</label>
                <input type="text"
                       name="name2"
                       id="name2"
                       validation="required:alt=Please Enter Name|max_len:50"
                       debounce="0"
                       ng-model="Location.mylocation.Name2"
                       class="form-control input-lg input-full"
                       placeholder="Enter Location Name">
            </section>

        </div>
    </div>
      </div>
    </div>

    <!-- external librairies CDN -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>

    <!-- angular-translate -->
    <!-- Visit Angular-Translate https://github.com/PascalPrecht/angular-translate -->
    <script src="../../vendors/angular-translate/angular-translate.min.js"></script>
    <script src="../../vendors/angular-translate/angular-translate-loader-static-files.min.js"></script>

    <!-- IBAN external library -->
    <script src="../../vendors/iban/iban.js"></script>

    <!-- Angular-Validation -->
    <script type="text/javascript" src="../../dist/angular-validation.min.js"></script>
    <!--
    <script type="text/javascript" src="../../src/validation-directive.js"></script>
    <script type="text/javascript" src="../../src/validation-service.js"></script>
    <script type="text/javascript" src="../../src/validation-common.js"></script>
    <script type="text/javascript" src="../../src/validation-rules.js"></script>
    -->

    <!-- my application -->
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
