<!DOCTYPE html>
<html ng-app="plunker">
    <head>
        <meta charset="utf-8" />
        <title>AngularJS Plunker</title>
        <script>document.write('<base href="' + document.location + '" />');</script>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      	<link rel="stylesheet" href="../../style.css">
    </head>

    <body ng-controller="MainCtrl">
      <div class="container">
        <br/>
        <div class="alert alert-info alert-dismissable">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            <a href="https://github.com/ghiscoding/angular-validation/wiki/Isolated-Scope">Wiki - Isolated Scope</a>
            <br/>
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            <a href="https://github.com/ghiscoding/angular-validation/wiki/Form-Submit-and-Validation">Wiki - Form Submit and Validation</a>
        </div>

        <h3>Form Validation (with dynamic form and fields)</h3>
        <tabset>
          <tab ng-repeat="tab in items" heading="{{tab.heading}}" id="{{tab.heading}}" >
             <form name="{{tab.formName}}" novalidate>
               <div ng-repeat="field in tab.fields" >
                 <form-field></form-field>
               </div>
             </form>
          </tab>
        </tabset>
        <button type="submit" name="validateForms" class="btn btn-primary" ng-click="validate()">Validate</button>

        <hr/>

        <div>
          <h4>Forms are Valid after Submit</h4>
          <span><label>Form1 isValid:</label> {{ Form1.isValid }} </span><br/>
          <span><label>Form2 isValid:</label> {{ Form2.isValid }} </span>
        </div>
      </div>

      <!-- external librairies CDN -->
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>
      <script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>

      <!-- angular-translate -->
      <!-- Visit Angular-Translate https://github.com/PascalPrecht/angular-translate -->
      <script src="../../vendors/angular-translate/angular-translate.min.js"></script>
      <script src="../../vendors/angular-translate/angular-translate-loader-static-files.min.js"></script>

      <!-- Angular-Validation -->
      <script type="text/javascript" src="../../dist/angular-validation.min.js"></script>
      <!--
      <script type="text/javascript" src="../../src/validation-directive.js"></script>
      <script type="text/javascript" src="../../src/validation-service.js"></script>
      <script type="text/javascript" src="../../src/validation-common.js"></script>
      <script type="text/javascript" src="../../src/validation-rules.js"></script>
      -->

      <script src="app.js"></script>

    </body>
</html>