<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Angular-Validation Example with ngShow/ngHide/ngDisabled</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../style.css">
</head>

<body ng-app="myApp">
  <div class="container" ng-controller="Ctrl">
    <h2>Example of Angular-Validation with "ngIf / ngShow / ngDisabled".</h2>
    <hr/>

    <div class="alert alert-danger alert-dismissable" ng-show="f1.$validationSummary.length > 0">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><strong>ERRORS!</strong></h4>
      <ul>
          <li ng-repeat="item in f1.$validationSummary">{{ item.field }}: {{item.message}}</li>
      </ul>
    </div>

    <form class="col-xs-12" role="form" name='f1'>
      <div class="form-group">
        <div class="row">
          <label class="col-xs-4 control-label">AreaCode</label>
          <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="Area code" ng-disabled="false" ng-model="ModelData.AreaCode"
            name="ModelData_AreaCode" validation="required|alpha_dash|min_len:2|max_len:20" />
          </div>
        </div>
        <div class="row">
          <label class="col-xs-4 control-label">AreaName</label>
          <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="Area name" ng-model="ModelData.AreaName" name="ModelData_AreaName" validation="required|max_len:100" />
          </div>
        </div>

        <div class="row">
          <label class="col-xs-4 control-label">Note</label>
          <div class="col-xs-6">
            <input type='text' class="form-control"  ng-disabled="!ModelData.IsShowNote"
            ng-model="ModelData.Note" name="ModelData_Note" validation="required" />
          </div>
        </div>

        <div class="row" ng-if="ModelData.IsShowNote">
          <label class="col-xs-4 control-label">Note 1</label>
          <div class="col-xs-6">
            <textarea class="form-control" ng-model="ModelData.Note1" name="ModelData_Note1" validation="required"></textarea>
          </div>
        </div>

        <div class="row" ng-show="ModelData.IsShowNote">
          <label class="col-xs-4 control-label">Note 2</label>
          <div class="col-xs-6">
            <textarea class="form-control" ng-model="ModelData.Note2" name="ModelData_Note2" ng-disabled="!ModelData.IsShowNote" validation="required"></textarea>
          </div>
        </div>

        <div class="row">
          <label class="col-xs-4 control-label">Show/Enable Notes</label>
          <div class="col-xs-6">
            <input type="checkbox" name="btn_showNotes" ng-model="ModelData.IsShowNote" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <button class="btn btn-primary" ng-click="ModelData.SaveFunctionClick()" name="btn_save">
              Save(validate only)
            </button>
          </div>
        </div>
        <br/>
        <div class="row">
          <label class="col-xs-4 control-label">Validate count</label>
          <div class="col-xs-6">
            <label name="validationCount" class="col-xs-2 control-label">{{ModelData.Count}}</label>
            <span><em>(click on button "Save" to refresh)</em></span>
          </div>
        </div>
        <div class="row">
          <label class="col-xs-4 control-label">Invalid fields</label>
          <div class="col-xs-8">
            <label class="col-xs-12 control-label">
              <span ng-repeat="item in f1.$validationSummary">{{item.field }}, </span>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- external librairies CDN -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>

  <!-- angular-translate -->
  <!-- Visit Angular-Translate https://github.com/PascalPrecht/angular-translate -->
  <script src="../../vendors/angular-translate/angular-translate.min.js"></script>
  <script src="../../vendors/angular-translate/angular-translate-loader-static-files.min.js"></script>

  <!-- Angular-Validation -->
  <script type="text/javascript" src="../../dist/angular-validation.min.js"></script>
  <!--
  <script type="text/javascript" src="../../src/validation-directive.js"></script>
  <script type="text/javascript" src="../../src/validation-service.js"></script>
  <script type="text/javascript" src="../../src/validation-common.js"></script>
  <script type="text/javascript" src="../../src/validation-rules.js"></script>
  -->

  <!-- my application -->
  <script type="text/javascript" src="app.js"></script>
</body>

</html>