

<form novalidate name="formAdd" method="POST">
    <fieldset>
        <div class="modal-body">   
            <div class="form-group">    
                <label for="input1">{{ 'INPUT1' | translate }}</label>
                <input type="text" class="form-control" name="input1" placeholder="alpha_space|exact_len:3|required" ng-model="form1.input1" ngx-validation="alpha_space|exact_len:3|required" />
                <span class="validation text-danger">{{ validation_errors["input1"] }}</span>
            </div>
            <div class="form-group">    
                <label for="input2">{{ 'INPUT2' | translate }}</label>
                <input type="text" class="form-control" name="input2" placeholder="numeric|required" ng-model="form1.input2" ngx-validation="numeric|required" />
                <span class="validation text-danger">{{ validation_errors["input2"] }}</span>
            </div>       
            <div class="form-group">    
                <label for="input3">{{ 'INPUT3' | translate }}</label>
                <input type="text" class="form-control" name="input3" placeholder="exact_len:4|regex:YYWW|required|integer" ng-model="form1.input3" ngx-validation="exact_len:4|regex:YYWW:=^(0[9]|1[0-9]|2[0-9]|3[0-9])(5[0-2]|[0-4][0-9])$:regex|required|integer" />
                <span class="validation text-danger">{{ validation_errors["input3"] }}</span>
            </div> 
            <div class="form-group">    
                <label for="input4">{{ 'INPUT4' | translate }}</label>
                <input type="text" class="form-control" name="input4" placeholder="email|required|min:3" ng-model="form1.input4" ngx-validation="email|required|min:3" />
                <span class="validation text-danger">{{ validation_errors["input4"] }}</span>
            </div>
            <div class="form-group">    
                <label for="input5">{{ 'INPUT5' | translate }}</label>
                <input type="text" class="form-control" name="input5" placeholder="url|required" ng-model="form1.input5" ngx-validation="url|required" />
                <span class="validation text-danger">{{ validation_errors["input5"] }}</span>
            </div>
            <div class="form-group">    
                <label for="input6">{{ 'INPUT6' | translate }}</label>
                <input type="text" class="form-control" name="input6" placeholder="credit_card|required" ng-model="form1.input6" ngx-validation="credit_card|required" />
                <span class="validation text-danger">{{ validation_errors["input6"] }}</span>
            </div> 
            <div class="form-group">    
                <label for="input7">{{ 'INPUT7' | translate }}</label>
                <input type="text" class="form-control" name="input7" placeholder="between_len:2,6|required" ng-model="form1.input7" ngx-validation="between_len:2,6|required" />
                <span class="validation text-danger">{{ validation_errors["input7"] }}</span>
            </div>
            <div class="form-group">    
                <label for="input8">{{ 'INPUT8' | translate }}</label>
                <input type="text" class="form-control" name="input8" placeholder="date_iso|required" ng-model="form1.input8" ngx-validation="date_iso|required" />
                <span class="validation text-danger">{{ validation_errors["input8"] }}</span>
            </div>
            <div class="form-group">    
                <label for="input9">{{ 'INPUT9' | translate }}</label>
                <input type="text" class="form-control" name="input9" placeholder="date_us_long|required" ng-model="form1.input9" ngx-validation="date_us_long|required" />
                <span class="validation text-danger">{{ validation_errors["input9"] }}</span>
            </div> 
            <div class="form-group">    
                <label for="input10">{{ 'INPUT10' | translate }}</label>
                <input type="text" class="form-control" name="input10" placeholder="min_len:2|max_len:10|alpha_dash_spaces|required" ng-model="form1.input10" ngx-validation="min_len:2|max_len:10|alpha_dash_spaces|required" />
                <span class="validation text-danger">{{ validation_errors["input10"] }}</span>
            </div> 
        </div>
    </fieldset>

    <div class="form-actions">
        <!-- ng-disabled="formAdd.$invalid" -->
        <button type="submit" name="save_btn" class="btn btn-primary" ng-disabled="formAdd.$invalid" ng-click="">{{ 'SAVE' | translate }}</button>
    </div>   
</form>