<!doctype html>
<html ng-app="myApp" ng-strict-di ng-cloak>
	<head>
	  <meta charset="utf-8">
	  <title>Angular-Validation</title>
	  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	  <link rel="stylesheet" href="../../style.css">
	</head>

	<body>
		<div class="container"  ng-controller="CtrlDynamic">
			<h1>Angular Validation</h1>
			<hr/>
			<h3 class="text-info">{{'CHANGE_LANGUAGE' | translate}}</h3>
			<div class="btn-group col-md-6">
				<button type="button" class="btn btn-default" ng-click="switchLanguage('fr')">Français</button>
				<button type="button" class="btn btn-default" ng-click="switchLanguage('en')">English</button>
			</div>

			<br/><hr/>

			<ng-view></ng-view>
	  	</div>

	  	<!-- external librairies CDN -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>

		<!-- angular-translate -->
		<!-- Visit Angular-Translate https://github.com/PascalPrecht/angular-translate -->
		<script src="../../vendors/angular-translate/angular-translate.min.js"></script>
		<script src="../../vendors/angular-translate/angular-translate-loader-static-files.min.js"></script>

		<!-- Angular-Validation -->
		<script type="text/javascript" src="../../dist/angular-validation.min.js"></script>
		<!--
		<script type="text/javascript" src="../../src/validation-directive.js"></script>
		<script type="text/javascript" src="../../src/validation-service.js"></script>
		<script type="text/javascript" src="../../src/validation-common.js"></script>
		<script type="text/javascript" src="../../src/validation-rules.js"></script>
		-->

		<!-- my application -->
	  	<script type="text/javascript" src="app.js"></script>
  	</body>
</html>